
# Data Science Career Track | Capstone Two: Data Wrangling
---

### **Purpose:** 
This notebook focuses on collecting your data, organizing it, and making sure it's well defined. 
### **Problem Statement:**
The purpose of this data science project involves predicting the age and sex of individuals who become victims of crime using crime data and potentially other relevant variables. By analyzing patterns within crime data, we aim to develop predictive models that estimate the age and sex of victims, which can have applications in law enforcement, victim support and aid victim service providers target relevant areas.

## Table of contents
- [A. Imports](#A)
- [B. Loading The Data](#B)
- [C. Exploring The Data](#C)
    - C.1 Categorical Features
    - C.2 Numerial Features
- [D. [Title]](#D)
- [E. [Title]](#E) 
- [F. [Title]](#F)
- [G. [Title]](#G)
- [H. [Title]](#H)
- [I. [Title]](#I)
- [J. [Title]](#J)
- [K. [Title]](#K)

### A. Imports <a id='A'></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import recordlinkage
import os

### B. Loading The Crime Data <a id='B'></a>

In [5]:
# Making sure I have the correct file path for loading the data

os.getcwd()

'/Users/frankyaraujo/Development/Springboard_Main/Capstone Two/Springboard-Capstone-Two/notebooks'

In [6]:
# Storing file path in variable and then using pd.read_csv() to load the data as a dataframe into crimeData

dataFilePath = "/Users/frankyaraujo/Development/Springboard_Main/Capstone Two/\
Springboard-Capstone-Two/src/data/2010-2023 Crime_Traffic_Collisions_Data .csv"
crimeData = pd.read_csv(dataFilePath, low_memory = False)

### C. Exploring The Data  <a id='C'></a>

In [17]:
crimeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375881 entries, 0 to 1375880
Data columns (total 28 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1375881 non-null  int64
 1   DR Number               1375881 non-null  int64
 2   Date Reported           1375881 non-null  object
 3   Date Occurred           1375881 non-null  object
 4   Time Occurred           1375881 non-null  int64
 5   Area ID                 1375881 non-null  int64
 6   Area Name               1375881 non-null  object
 7   Reporting District      1375881 non-null  int64
 8   Crime Code              1375881 non-null  int64
 9   Crime Code Description  1375881 non-null  object
 10  MO Codes                1181546 non-null  object
 11  Victim Age              1290351 non-null  float64
 12  Victim Sex              1263940 non-null  object
 13  Victim Descent          1262997 non-null  object
 14  Premise Code            1374913 non-null  float64
 15  Premise Description     1374460 non-null  object
 16  Weapon Used Cd          271192 non-null   float64
 17  Weapon Desc             271192 non-null   object
 18  Status                  779803 non-null   object
 19  Status Desc             779803 non-null   object
 20  Crm Cd 1                779793 non-null   float64
 21  Crm Cd 2                57524 non-null    float64
 22  Crm Cd 3                1919 non-null     float64
 23  Crm Cd 4                57 non-null       float64
 24  Address                 1375881 non-null  object
 25  Cross Street            692955 non-null   object
 26  LAT                     1375881 non-null  float64
 27  LON                     1375881 non-null  float64
dtypes: float64(9), int64(6), object(13)
memory usage: 293.9+ MB

In [7]:
crimeData.head()

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,Address,Cross Street,LAT,LON
0,0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

- Do you think you may have the data you need to tackle the desired question?
    - Have you identified the required target value?
    - Do you have potentially useful features?
- Do you have any fundamental issues with the data?
- What kind of cleaning steps did you perform?
- How did you deal with missing values, if there were any?
- Were there outliers, and how did you handle them?