
# Data Science Career Track | Capstone Two: Data Wrangling
---

### **Purpose:** 
This notebook focuses on collecting your data, organizing it, and making sure it's well defined. 
### **Problem Statement:**
The purpose of this data science project involves predicting the age and sex of individuals who become victims of crime using crime data and potentially other relevant variables. By analyzing patterns within crime data, we aim to develop predictive models that estimate the age and sex of victims, which can have applications in law enforcement, victim support and aid victim service providers target relevant areas.

## Table of contents
- [A. Imports](#A)
- [B. Loading The Data](#B)
- [C. Initial Exploration of The Data](#C)
    - [C.i Missing Values](#C.i)
    - [C.ii Duplicate Values](#C.ii)
- [D. Evaluating Categorical Features](#D)
- [E. Evaluating Numerical Features](#E) 
- [F. [Title]](#F)
- [G. [Title]](#G)
- [H. [Title]](#H)
- [I. [Title]](#I)
- [J. [Title]](#J)
- [K. [Title]](#K)

### A. Imports <a id='A'></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import recordlinkage
import os

### B. Loading The Crime Data <a id='B'></a>

In [5]:
# Making sure I have the correct file path for loading the data

os.getcwd()

'/Users/frankyaraujo/Development/Springboard_Main/Capstone Two/Springboard-Capstone-Two/notebooks'

In [6]:
# Storing file path in variable and then using pd.read_csv() to load the data as a dataframe into crimeData

dataFilePath = "/Users/frankyaraujo/Development/Springboard_Main/Capstone Two/\
Springboard-Capstone-Two/src/data/2010-2023 Crime_Traffic_Collisions_Data .csv"
crimeData = pd.read_csv(dataFilePath, low_memory = False)

### C. Initial Exploration of the Data <a id='C'></a>

In [74]:
crimeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375881 entries, 0 to 1375880
Data columns (total 28 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1375881 non-null  int64
 1   DR Number               1375881 non-null  int64
 2   Date Reported           1375881 non-null  object
 3   Date Occurred           1375881 non-null  object
 4   Time Occurred           1375881 non-null  int64
 5   Area ID                 1375881 non-null  int64
 6   Area Name               1375881 non-null  object
 7   Reporting District      1375881 non-null  int64
 8   Crime Code              1375881 non-null  int64
 9   Crime Code Description  1375881 non-null  object
 10  MO Codes                1181546 non-null  object
 11  Victim Age              1290351 non-null  float64
 12  Victim Sex              1263940 non-null  object
 13  Victim Descent          1262997 non-null  object
 14  Premise Code            1374913 non-null  float64
 15  Premise Description     1374460 non-null  object
 16  Weapon Used Cd          271192 non-null   float64
 17  Weapon Desc             271192 non-null   object
 18  Status                  779803 non-null   object
 19  Status Desc             779803 non-null   object
 20  Crm Cd 1                779793 non-null   float64
 21  Crm Cd 2                57524 non-null    float64
 22  Crm Cd 3                1919 non-null     float64
 23  Crm Cd 4                57 non-null       float64
 24  Address                 1375881 non-null  object
 25  Cross Street            692955 non-null   object
 26  LAT                     1375881 non-null  float64
 27  LON                     1375881 non-null  float64
dtypes: float64(9), int64(6), object(13)
memory usage: 293.9+ MB

In [25]:
crimeData.loc[:,"Unnamed: 0":"Crime Code Description"].head()

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description
0,0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT
1,1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT
2,2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
3,3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER)
4,4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA..."

In [27]:
crimeData.loc[:,"MO Codes":].head()

,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,Address,Cross Street,LAT,LON
0,0444 0913,36.0,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,0416 1822 1414,25.0,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,1501,0.0,X,X,726.0,POLICE FACILITY,NaN,NaN,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,0329 1402,76.0,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,0329,31.0,X,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

##### Initial observations after using the .info() and .head() methods:
- The 'Unnamed: 0' doesn't seeme to serve a purpose as it appears to be equivalent to the index
- Not all Object Types appear to be categorical (ie Date Reported, Date Occurred, and Time Occurred) and not all Float64 Types appear to be numercial types (ie Premise Code, Weapon Used Cd, Crm Cd 1, Crm Cd 2, Crm Cd 3, Crm Cd 4)
- The area names may have abbreviations so this needs to be kept in min when reviewing for duplicates
- The 'Crime Code Description' and 'MO Codes'columns may hold multiple data values/point per value
- age and sex of victims are found within the 'Victim Age' and 'Victim Sex' columns so our target variables are present

### C.i Missing Values <a id='C.i'></a>

In [47]:
# The number of missing values per column

crimeData.isna().sum()
crimeDataMissing = pd.DataFrame(crimeData.isna().sum())
crimeDataMissing.columns = ['Total # of missing values']

In [52]:
# The percentage of missing values per column, sorted from highest to lowest

crimeDataMissing['% of missing values'] = crimeData.isna().sum().sort_values(ascending = False)/len(crimeData.index)*100

In [54]:
# Number of missing values and percentages by column, sorted from highest to lowest

crimeDataMissing.sort_values(by = "Total # of missing values", ascending = False)

                        Total # of missing values  % of missing values
Crm Cd 4                                  1375824            99.995857
Crm Cd 3                                  1373962            99.860526
Crm Cd 2                                  1318357            95.819115
Weapon Used Cd                            1104689            80.289574
Weapon Desc                               1104689            80.289574
Cross Street                               682926            49.635543
Crm Cd 1                                   596088            43.324096
Status Desc                                596078            43.323369
Status                                     596078            43.323369
MO Codes                                   194335            14.124405
Victim Descent                             112884             8.204489
Victim Sex                                 111941             8.135951
Victim Age                                  85530             6.216381
Premise Description                          1421             0.103279
Premise Code                                  968             0.070355
Address                                         0             0.000000
LAT                                             0             0.000000
Unnamed: 0                                      0             0.000000
DR Number                                       0             0.000000
Crime Code Description                          0             0.000000
Crime Code                                      0             0.000000
Reporting District                              0             0.000000
Area Name                                       0             0.000000
Area ID                                         0             0.000000
Time Occurred                                   0             0.000000
Date Occurred                                   0             0.000000
Date Reported                                   0             0.000000
LON                                             0             0.000000

##### Some notes on missing data

99% of 'Crm Cd 4' and 'Crm Cd 3'are missing and 95% of 'Crm Cd 2' is missing - If there is no value in keeping these columns to reflect the missing data, then these will be dropped before moving on past data wrangling. The same approach will be taken with 'Weapon Used Cd' and 'Weapon Desc' since ~80% of these columns are missing. 

49% of 'Cross Street' values are missing but this will not matter since all LAT and LON values are present and will provide a much easier path to evaluating areas. 43% of each 'Crm Cd', 'Status Desc', and 'Status' columns is missing which is a substantial amount of missing data, which can have implications for analysis and processes so this will be kept in mind and the columns may need to be dropped.

In [73]:
# The focus is on Victim Age and Sex so let's take a quick closer look at those columns

crimeData[crimeData['Victim Age'].notna()]['Victim Age'].unique()

array([ 36.,  25.,   0.,  76.,  31.,  23.,  29.,  35.,  41.,  24.,  34.,
        46.,  66.,  40.,  27.,  62.,  43.,  71.,  50.,  19.,  51.,  33.,
        69.,  39.,  57.,  78.,  52.,  38.,  55.,  44.,  18.,  54.,  22.,
        28.,  42.,  56.,  67.,  37.,  60.,  61.,  59.,  32.,  30.,  45.,
        20.,  15.,  58.,  47.,  48.,  26.,  21.,  64.,  75.,  12.,  49.,
        68.,  14.,  13.,  10.,  53.,  74.,  17.,  65.,  63.,   8.,  16.,
        72.,  70.,   9.,  90.,  85.,  81.,  79.,  94.,  73.,  11.,  80.,
         5.,  82.,   2.,  77.,  84.,  88.,  96.,  99.,   7.,  86.,  92.,
         3.,  83.,  87.,   6.,  -1.,  89.,   4.,  93.,  98.,  91.,  95.,
        97., 120.,  -2.,  -3.])

In [72]:
crimeData[crimeData['Victim Sex'].notna()]['Victim Sex'].unique()

array(['F', 'M', 'X', 'H', '-', 'N'], dtype=object)

It looks like there may be more missing values than originally shown ussing the method .isna() above. 
For 'Victim Age', it looks like there are error values (ie less than '0') and, for 'Victim Sex', there are values that do not represent Male or Female (ie 'X', 'H','-', and 'N') This will be explored next along with duplicate values (if any)

### C.ii Duplicate Values <a id='C.ii'></a>

In [82]:
# Brief look at potential duplicate obeservations
# Using .duplicated() and .sum() to find all duplicates, mark them as True, and sum the amount of True's 

crimeData.duplicated(keep=False).sum()

0

Comparing full rows brings up no duplicates so let's take a look at some of the individual variables and combination of variables to ensure there are no duplicate values.

In [89]:
# Each reported incident should have a unique Division of Record Number within'DR Number'

# Subsetting the crime data to show all duplicate values based on 'DR Number' and then sorting by 'DR Number'
# brings up the following

crimeDataDuplicates = crimeData[crimeData.duplicated(subset=['DR Number'],keep=False)].sort_values(by = "DR Number")

In [113]:
# Lets see if these reported incidents occured on the same date, time and place

print("# of Duplicates based on 'Date Occurred', 'Time Occurred', 'Address', 'Cross Street', 'LAT' and 'LON' columns: ", \
crimeDataDuplicates.loc[:,['Date Occurred','Time Occurred','Address','Cross Street','LAT','LON']].duplicated().sum())

# Lets look at specific columns since the above only flagged one duplicate

print("# of Duplicates based on 'LAT' and 'LON' columns: ", \
    crimeDataDuplicates.loc[:,['LAT','LON']].duplicated().sum())

print("# of Duplicates based on 'Address' and 'Cross Street' columns: ", \
crimeDataDuplicates.loc[:,['Address','Cross Street']].duplicated().sum())

print("# of Duplicates based on 'Date Occurred' column: ", \
crimeDataDuplicates.loc[:,['Date Occurred']].duplicated().sum())

print("# of Duplicates based on 'Time Occurred' column: ", \
crimeDataDuplicates.loc[:,['Time Occurred']].duplicated().sum())

# of Duplicates based on 'Date Occurred', 'Time Occurred', 'Address', 'Cross Street', 'LAT' and 'LON' columns:  2
# of Duplicates based on 'LAT' and 'LON' columns:  51
# of Duplicates based on 'Address' and 'Cross Street' columns:  54
# of Duplicates based on 'Date Occurred' column:  21
# of Duplicates based on 'Time Occurred' column:  101

In [149]:
# It looks like the 'Date Occurred' columns will create more unique values than available due to the different formatting
# For example, '01/22/2020' is not equivalent to '01/22/2020' 12:00:00 AM' so let's format to get a better result

crimeDataDuplicates['Date Occurred'] = crimeDataDuplicates['Date Occurred'].apply(lambda x: x[0:10])

In [150]:
# After formatting the 'Date Occurred' column, more duplicates are found

print("# of Duplicates based on 'Date Occurred' column: ", \
crimeDataDuplicates.loc[:,['Date Occurred']].duplicated().sum())

# of Duplicates based on 'Date Occurred' column:  91

In [157]:
# A quick look at crimeDataDuplicates using the .head() method created a suspicion that the duplicates were coming 
# from Traffic Collision rows and it is further supported by the count below - showing 101 rows for records with
# 'TRAFFIC COLLISION' for the 'Crime Code Description' which is half of the 202 duplicates flagged above

crimeDataDuplicates[crimeDataDuplicates['Crime Code Description']=='TRAFFIC COLLISION'].count()

Unnamed: 0                101
DR Number                 101
Date Reported             101
Date Occurred             101
Time Occurred             101
Area ID                   101
Area Name                 101
Reporting District        101
Crime Code                101
Crime Code Description    101
MO Codes                   93
Victim Age                 74
Victim Sex                 97
Victim Descent             97
Premise Code              101
Premise Description       101
Weapon Used Cd              0
Weapon Desc                 0
Status                      0
Status Desc                 0
Crm Cd 1                    0
Crm Cd 2                    0
Crm Cd 3                    0
Crm Cd 4                    0
Address                   101
Cross Street               81
LAT                       101
LON                       101
dtype: int64

In [185]:
# Let's decide if we should drop or keep the 'TRAFFIC COLLISION' rows by seeing whether 
# these rows have more information

# missingDataTrafficRelated will have total missing values per column for 'TRAFFIC COLLISION' related data
# missingDataNonTrafficRelated will have total missing values per column for Non -'TRAFFIC COLLISION' related data

missingDataTrafficRelated = crimeDataDuplicates[crimeDataDuplicates['Crime Code Description']=='TRAFFIC COLLISION'].isna().sum()
missingDataNonTrafficRelated = crimeDataDuplicates[~(crimeDataDuplicates['Crime Code Description']=='TRAFFIC COLLISION')].isna().sum()

In [196]:
# Comparison of variables created in previous cell
# Boolean expression below will show where TRAFFIC COLLISION' related data has more information

(missingDataTrafficRelated < missingDataNonTrafficRelated).sort_values(ascending=False)

Cross Street               True
MO Codes                   True
Victim Sex                 True
Victim Descent             True
Unnamed: 0                False
Weapon Used Cd            False
LAT                       False
Address                   False
Crm Cd 4                  False
Crm Cd 3                  False
Crm Cd 2                  False
Crm Cd 1                  False
Status Desc               False
Status                    False
Weapon Desc               False
Premise Code              False
Premise Description       False
DR Number                 False
Victim Age                False
Crime Code Description    False
Crime Code                False
Reporting District        False
Area Name                 False
Area ID                   False
Time Occurred             False
Date Occurred             False
Date Reported             False
LON                       False
dtype: bool

It looks like there are columns where the Traffic Collision records have more information but the majority of information lies within the non-traffic records (ie 'Crime Code Description' not equal to 'TRAFFIC COLLISION') Before dropping the data, let's use it to fill in any gaps in the rows that will remain.

In [197]:
# Loop to fill any gaps within the rows that will not be dropped 


'''
Pseudocode ...

for i in non-traffic related row:
    for j in non-traffic related column:
        if j is NaN, then
            j = value from duplicate traffic-related row

All non-traffic rows will have pulled any missing information from the the traffic rows (if available)
Finally, all traffic-related duplicates can be dropped. 

'''

**Questions that will have answers by the end of this notebook** 
- Do you think you may have the data you need to tackle the desired question?
    - Have you identified the required target value?
    - Do you have potentially useful features?
- Do you have any fundamental issues with the data?
- What kind of cleaning steps did you perform?
- How did you deal with missing values, if there were any?
- Were there outliers, and how did you handle them?